body {
    background-color: black;
    color: white;
    text-align: center;
    overflow: hidden;
}

.header {
    margin-top: 20px;
}

.header h2 {
    display: inline;
    margin: 0 20px;
}

.smiley, .hints {
    font-size: 30px;
}

ul {
    list-style-type: none;
    display: inline;
    padding-left: 0;
}

li {
    display: inline;
}

.hint-mode {
    text-shadow: 0 0 14px white, -2px -2px 14px white;
}

.smiley:hover, .hints:hover {
    cursor: pointer;
}

.mines-left span {
    display: inline-block;
    width: 10px;
}

h4 {
    margin: 10px auto;
}

input {
    margin-left: 0;
    margin-right: 10px;
}

.board-container {
    margin: 20px auto;
}

.board {
    border: 1px solid grey;
    border-spacing: 0;
    margin: 0 auto;
    background-color: rgba(122, 122, 122, 0.753);
}

.cell {
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: 1px dotted rgb(53, 53, 53);
    background-color: rgb(163, 163, 163);
}

.cell:hover {
    cursor: pointer;
}

.hide {
    background-color: rgb(70, 70, 70);
    border: 1px solid rgba(255, 255, 255, 0.678);
    border-bottom-color: grey;
    border-right-color: grey;
    color: rgba(0, 0, 0, 0);
}

.flag {
    color: black;
    font-size: 15px;
}