@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

body {
    color: black;
    text-align: center;
    overflow: hidden;
    cursor: context-menu;
    font-family: 'Iceberg', cursive;
    background: linear-gradient(to bottom, #CE58CC 0%, #AE9121 46%, #58B86F 100%);
}

.header {
    margin-top: 20px;
}

.header h2 {
    display: inline;
    margin: 0 20px;
}

.lives-list {
    font-size: 26px;
}

.manually {
    font-size: 28px;
    position: relative;
    display: inline;
    right: -5px;
    top: -5px;
}

.manually:hover {
    cursor: pointer;
    text-shadow: 0 0 14px white, -2px -2px 14px white;
}

.manually .help-text {
    font-size: 14px;
    position: absolute;
    top: 30px;
    margin-left: -50px;
}

.smiley {
    font-size: 35px;
}

.hints {
    font-size: 30px;
}

.smiley:hover, .hints:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
    display: inline;
    padding-left: 0;
}

li {
    display: inline;
}

.highlight {
    text-shadow: 0 0 14px white, -2px -2px 14px white;
}

.mines-left span {
    display: inline-block;
    width: 15px;
}

h4 {
    margin: 10px auto;
}

.best {
    margin: 13px auto 0;
}

.level {
    margin-top: 10px;
}

input {
    margin-left: 0;
    margin-right: 30px;
}

input:hover {
    cursor: pointer;
}

.buttons {
    position: absolute;
    width: 100%;
    top: 80px;
}

.buttons button {
    height: 40px;
    width: 100px;
    border-radius: 8px;
    margin: 0 130px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.safe-click {
    background-color: violet;
}

.safe-left {
    font-size: 14px;
    font-weight: normal;
    position: relative;
    left: -183px;
    margin-top: 0;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.undo {
    background-color: darkseagreen;
}

.board-container {
    margin: 10px auto;
}

.board {
    border: 1px solid grey;
    border-spacing: 0;
    margin: 0 auto;
    background-color: rgba(122, 122, 122, 0.753);
}

.cell {
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
    border: 1px dotted rgb(53, 53, 53);
    background-color: rgb(163, 163, 163);
}

.cell:hover {
    cursor: pointer;
}

.mine {
    text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
}

.hide {
    background-color: rgb(70, 70, 70);
    border: 1px solid rgba(255, 255, 255, 0.678);
    border-bottom-color: grey;
    border-right-color: grey;
    color: rgba(0, 0, 0, 0);
    text-shadow: none;
}

.opts {
    color: rgba(0, 0, 0, 0);
    text-shadow: none;
}

.flag {
    color: black;
    font-size: 15px;
}

.red {
    background-color: red;
}